<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">GetMyPg</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link active" href='/home'><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href='/Contact'><i class="far fa-address-book"></i>Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/login'><i class="far fa-clone"></i>Log IN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup"><i class="far fa-calendar-alt"></i>Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidelines"><i class="far fa-chart-bar"></i>Guidelines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
            </li>
        </ul>
    </div>
</nav>