<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/guide_styles.css">
</head>

<body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-center">
    <div class="container">
        <a href="/" class="navbar-brand d-flex w-50 me-auto">GMP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/show">PG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Admin </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/home/new">Add Pg</a></li>
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/userGuide">User GuideLines</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="b-container">
    <div class="content-container">
        <div class="title">
            <h1>User Guidelines</h1>
            <p>Read the guidelines carefully</p>
        </div>
        <div class="content">
            <ul>
                <li>After taking the permission from the owner you can go anywhere for the officials purpose</li>
                <li>User are not allowed to bring any strangers</li>
                <li>User should submit his/her details to the owner including Adhar Card and Parents Phone Numbers.
                </li>
                <li>Rs 1000 should be given in the advanced after booking our PG .</li>
                <li>All your advanced is added in your room rent .</li>
                <li>All room rents should be given on the time .</li>
                <li>Only in emergency cases , rent problems is considered only for 15 days .</li>
                <li>Only after the full and legitimate verification of the user , PG is given .</li>
                <li>User can visit and see inside the our PG to know what are the facilities we are providing and
                    what types of environment we have given</li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>