<% layout('layout/boilerplate') %>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      @media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1103px;
} }
</style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
<body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/logo/logo2.png" alt="" width="72" height="57">
      <h2>Add New Pg</h2>
      <p class="lead">Fill the Following Details Carefully</p>
    </div>
    <form class="needs-validation" action="/home/new" method="post" enctype="multipart/form-data">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Attach Images</span>
          <!-- <span class="badge bg-primary rounded-pill">3</span> -->
        </h4>
        <div class="row"  style="width: auto; height: 300px;">
          <div class="col-12 mt-4 mb-4 text-primary ">
                 <div class="card" style="border: 3px dashed green;">
                      <div class="card-header"><img src="/assets/logo/logo4.png" width="100px" height="100px"  style="margin-left: 80px; margin-top: 80;">
                          <h3 style="color: green;"> + Choose The Best Pg</h3>
                          <input type="file" id="image" name="pg[image]" placeholder=""  multiple required>
                      </div>
                 </div>
          </div>
          <div class="col-12">
              <h5>List of Added Images</h5>
          </div>
      </div>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
        </ul>

      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Fill PG Details</h4>
        <!-- <form class="needs-validation" novalidate> -->
          <div class="row g-3">
            <div class="col-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="pg[title]" id="title" placeholder="123 Himalyan Pg, Near Patel Shop" required>
                <div class="invalid-feedback">
                  Please enter The Name of Pg.
                </div>
              </div>
            
            <div class="col-12">
              <label for="price" class="form-label">Current Price</label>
              <div class="input-group has-validation">
                <span class="input-group-text">₹</span>
                <input type="number" class="form-control" name="pg[price]" id="price" placeholder="Enter Price" required>
              <div class="invalid-feedback">
                  Your Price feild is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="price" class="form-label">Bed count</label>
              <select class="form-select" aria-label="Default select example" name="pg[roomtype]">
                <option selected>Select</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="3">Four</option>
              </select>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" name="pg[description]" id="description" placeholder="Add Any Additional Info" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="location" class="form-label">Location</label></label>
              <input type="text" class="form-control" name="pg[location]" id="location" placeholder="Apartment Location or LandMark">
            </div>

            <!-- <div class="col-md-5">
              <label for="rating" class="form-label">Rating</label>
              <select class="form-select" id="rating"  name="pg[rating]" required>
                <option value="">Choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div> -->

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Publish</button>
        
      </div>
    </div>
    </form>
  </main>

  <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div> -->


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <!-- <script src="form-validation.js"></script> -->




<!--  -->



<h1>New page</h1>

<div>
    <form action="/home/new" method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="pg[title]" placeholder="" required>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="pg[image]" placeholder=""  multiple required>
        </div>
        <div>
            <label for="price">price</label>
            <input type="text" id="price" name="pg[price]" placeholder="" required>
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" id="description" name="pg[description]" placeholder="" required>
        </div>
        <div>
            <label for="location">location</label>
            <input type="text" id="location" name="pg[location]" placeholder="" required>
        </div>
        <div>
            <label for="rating">rating</label>
            <input type="text" id="rating" name="pg[rating]" placeholder="" required>
        </div>
        <button>Add</button>
    </form>
</div>
